<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
    <div id="9c35f7de46d14253823166b190c2e109" class="chart-container" style="width:1400px; height:700px;"></div>
    <script>
        var chart_9c35f7de46d14253823166b190c2e109 = echarts.init(
            document.getElementById('9c35f7de46d14253823166b190c2e109'), 'dark', {renderer: 'canvas'});
        var option_9c35f7de46d14253823166b190c2e109 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "effectScatter",
            "coordinateSystem": "geo",
            "showEffectOn": "render",
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "symbolSize": 12,
            "data": [
                {
                    "name": "\u6d77\u95e8",
                    "value": [
                        121.15,
                        31.89,
                        0
                    ]
                },
                {
                    "name": "\u9102\u5c14\u591a\u65af",
                    "value": [
                        109.781327,
                        39.608266,
                        0
                    ]
                },
                {
                    "name": "\u62db\u8fdc",
                    "value": [
                        120.38,
                        37.35,
                        0
                    ]
                },
                {
                    "name": "\u821f\u5c71",
                    "value": [
                        122.207216,
                        29.985295,
                        0
                    ]
                },
                {
                    "name": "\u9f50\u9f50\u54c8\u5c14",
                    "value": [
                        123.97,
                        47.33,
                        0
                    ]
                },
                {
                    "name": "\u76d0\u57ce",
                    "value": [
                        120.13,
                        33.38,
                        1
                    ]
                },
                {
                    "name": "\u8d64\u5cf0",
                    "value": [
                        118.87,
                        42.28,
                        0
                    ]
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": [
                        120.33,
                        36.07,
                        1
                    ]
                },
                {
                    "name": "\u4e73\u5c71",
                    "value": [
                        121.52,
                        36.89,
                        0
                    ]
                },
                {
                    "name": "\u91d1\u660c",
                    "value": [
                        102.188043,
                        38.520089,
                        0
                    ]
                },
                {
                    "name": "\u6cc9\u5dde",
                    "value": [
                        118.58,
                        24.93,
                        0
                    ]
                },
                {
                    "name": "\u83b1\u897f",
                    "value": [
                        120.53,
                        36.86,
                        0
                    ]
                },
                {
                    "name": "\u65e5\u7167",
                    "value": [
                        119.46,
                        35.42,
                        1
                    ]
                },
                {
                    "name": "\u80f6\u5357",
                    "value": [
                        119.97,
                        35.88,
                        0
                    ]
                },
                {
                    "name": "\u5357\u901a",
                    "value": [
                        121.05,
                        32.08,
                        0
                    ]
                },
                {
                    "name": "\u62c9\u8428",
                    "value": [
                        91.11,
                        29.97,
                        0
                    ]
                },
                {
                    "name": "\u4e91\u6d6e",
                    "value": [
                        112.02,
                        22.93,
                        1
                    ]
                },
                {
                    "name": "\u6885\u5dde",
                    "value": [
                        116.1,
                        24.55,
                        0
                    ]
                },
                {
                    "name": "\u6587\u767b",
                    "value": [
                        122.05,
                        37.2,
                        0
                    ]
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": [
                        121.473701,
                        31.230416,
                        3
                    ]
                },
                {
                    "name": "\u6500\u679d\u82b1",
                    "value": [
                        101.718637,
                        26.582347,
                        0
                    ]
                },
                {
                    "name": "\u5a01\u6d77",
                    "value": [
                        122.1,
                        37.5,
                        0
                    ]
                },
                {
                    "name": "\u627f\u5fb7",
                    "value": [
                        117.93,
                        40.97,
                        0
                    ]
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": [
                        118.1,
                        24.46,
                        1
                    ]
                },
                {
                    "name": "\u6c55\u5c3e",
                    "value": [
                        115.375279,
                        22.786211,
                        0
                    ]
                },
                {
                    "name": "\u6f6e\u5dde",
                    "value": [
                        116.63,
                        23.68,
                        0
                    ]
                },
                {
                    "name": "\u4e39\u4e1c",
                    "value": [
                        124.37,
                        40.13,
                        1
                    ]
                },
                {
                    "name": "\u592a\u4ed3",
                    "value": [
                        121.1,
                        31.45,
                        0
                    ]
                },
                {
                    "name": "\u66f2\u9756",
                    "value": [
                        103.79,
                        25.51,
                        2
                    ]
                },
                {
                    "name": "\u70df\u53f0",
                    "value": [
                        121.39,
                        37.52,
                        1
                    ]
                },
                {
                    "name": "\u798f\u5dde",
                    "value": [
                        119.3,
                        26.08,
                        2
                    ]
                },
                {
                    "name": "\u74e6\u623f\u5e97",
                    "value": [
                        121.979603,
                        39.627114,
                        0
                    ]
                },
                {
                    "name": "\u5373\u58a8",
                    "value": [
                        120.45,
                        36.38,
                        0
                    ]
                },
                {
                    "name": "\u629a\u987a",
                    "value": [
                        123.97,
                        41.97,
                        0
                    ]
                },
                {
                    "name": "\u7389\u6eaa",
                    "value": [
                        102.52,
                        24.35,
                        0
                    ]
                },
                {
                    "name": "\u5f20\u5bb6\u53e3",
                    "value": [
                        114.87,
                        40.82,
                        0
                    ]
                },
                {
                    "name": "\u9633\u6cc9",
                    "value": [
                        113.57,
                        37.85,
                        0
                    ]
                },
                {
                    "name": "\u83b1\u5dde",
                    "value": [
                        119.942327,
                        37.177017,
                        0
                    ]
                },
                {
                    "name": "\u6e56\u5dde",
                    "value": [
                        120.1,
                        30.86,
                        0
                    ]
                },
                {
                    "name": "\u6c55\u5934",
                    "value": [
                        116.69,
                        23.39,
                        1
                    ]
                },
                {
                    "name": "\u6606\u5c71",
                    "value": [
                        120.95,
                        31.39,
                        0
                    ]
                },
                {
                    "name": "\u5b81\u6ce2",
                    "value": [
                        121.56,
                        29.86,
                        1
                    ]
                },
                {
                    "name": "\u6e5b\u6c5f",
                    "value": [
                        110.359377,
                        21.270708,
                        1
                    ]
                },
                {
                    "name": "\u63ed\u9633",
                    "value": [
                        116.35,
                        23.55,
                        0
                    ]
                },
                {
                    "name": "\u8363\u6210",
                    "value": [
                        122.41,
                        37.16,
                        0
                    ]
                },
                {
                    "name": "\u8fde\u4e91\u6e2f",
                    "value": [
                        119.16,
                        34.59,
                        0
                    ]
                },
                {
                    "name": "\u846b\u82a6\u5c9b",
                    "value": [
                        120.836932,
                        40.711052,
                        0
                    ]
                },
                {
                    "name": "\u5e38\u719f",
                    "value": [
                        120.74,
                        31.64,
                        0
                    ]
                },
                {
                    "name": "\u4e1c\u839e",
                    "value": [
                        113.75,
                        23.04,
                        0
                    ]
                },
                {
                    "name": "\u6cb3\u6e90",
                    "value": [
                        114.68,
                        23.73,
                        0
                    ]
                },
                {
                    "name": "\u6dee\u5b89",
                    "value": [
                        119.15,
                        33.5,
                        1
                    ]
                },
                {
                    "name": "\u6cf0\u5dde",
                    "value": [
                        119.9,
                        32.49,
                        0
                    ]
                },
                {
                    "name": "\u5357\u5b81",
                    "value": [
                        108.33,
                        22.84,
                        2
                    ]
                },
                {
                    "name": "\u8425\u53e3",
                    "value": [
                        122.18,
                        40.65,
                        0
                    ]
                },
                {
                    "name": "\u60e0\u5dde",
                    "value": [
                        114.4,
                        23.09,
                        0
                    ]
                },
                {
                    "name": "\u6c5f\u9634",
                    "value": [
                        120.26,
                        31.91,
                        0
                    ]
                },
                {
                    "name": "\u84ec\u83b1",
                    "value": [
                        120.75,
                        37.8,
                        0
                    ]
                },
                {
                    "name": "\u97f6\u5173",
                    "value": [
                        113.62,
                        24.84,
                        0
                    ]
                },
                {
                    "name": "\u5609\u5cea\u5173",
                    "value": [
                        98.289152,
                        39.77313,
                        0
                    ]
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": [
                        113.23,
                        23.16,
                        8
                    ]
                },
                {
                    "name": "\u5ef6\u5b89",
                    "value": [
                        109.47,
                        36.6,
                        0
                    ]
                },
                {
                    "name": "\u592a\u539f",
                    "value": [
                        112.53,
                        37.87,
                        0
                    ]
                },
                {
                    "name": "\u6e05\u8fdc",
                    "value": [
                        113.01,
                        23.7,
                        0
                    ]
                },
                {
                    "name": "\u4e2d\u5c71",
                    "value": [
                        113.38,
                        22.52,
                        1
                    ]
                },
                {
                    "name": "\u6606\u660e",
                    "value": [
                        102.73,
                        25.04,
                        1
                    ]
                },
                {
                    "name": "\u5bff\u5149",
                    "value": [
                        118.73,
                        36.86,
                        0
                    ]
                },
                {
                    "name": "\u76d8\u9526",
                    "value": [
                        122.070714,
                        41.119997,
                        0
                    ]
                },
                {
                    "name": "\u957f\u6cbb",
                    "value": [
                        113.08,
                        36.18,
                        0
                    ]
                },
                {
                    "name": "\u6df1\u5733",
                    "value": [
                        114.07,
                        22.62,
                        11
                    ]
                },
                {
                    "name": "\u73e0\u6d77",
                    "value": [
                        113.52,
                        22.3,
                        2
                    ]
                },
                {
                    "name": "\u5bbf\u8fc1",
                    "value": [
                        118.3,
                        33.96,
                        0
                    ]
                },
                {
                    "name": "\u54b8\u9633",
                    "value": [
                        108.72,
                        34.36,
                        1
                    ]
                },
                {
                    "name": "\u94dc\u5ddd",
                    "value": [
                        109.11,
                        35.09,
                        0
                    ]
                },
                {
                    "name": "\u5e73\u5ea6",
                    "value": [
                        119.97,
                        36.77,
                        0
                    ]
                },
                {
                    "name": "\u4f5b\u5c71",
                    "value": [
                        113.11,
                        23.05,
                        0
                    ]
                },
                {
                    "name": "\u6d77\u53e3",
                    "value": [
                        110.35,
                        20.02,
                        5
                    ]
                },
                {
                    "name": "\u6c5f\u95e8",
                    "value": [
                        113.06,
                        22.61,
                        2
                    ]
                },
                {
                    "name": "\u7ae0\u4e18",
                    "value": [
                        117.53,
                        36.72,
                        0
                    ]
                },
                {
                    "name": "\u8087\u5e86",
                    "value": [
                        112.44,
                        23.05,
                        0
                    ]
                },
                {
                    "name": "\u5927\u8fde",
                    "value": [
                        121.62,
                        38.92,
                        0
                    ]
                },
                {
                    "name": "\u4e34\u6c7e",
                    "value": [
                        111.5,
                        36.08,
                        0
                    ]
                },
                {
                    "name": "\u5434\u6c5f",
                    "value": [
                        120.63,
                        31.16,
                        0
                    ]
                },
                {
                    "name": "\u77f3\u5634\u5c71",
                    "value": [
                        106.39,
                        39.04,
                        1
                    ]
                },
                {
                    "name": "\u6c88\u9633",
                    "value": [
                        123.38,
                        41.8,
                        1
                    ]
                },
                {
                    "name": "\u82cf\u5dde",
                    "value": [
                        120.62,
                        31.32,
                        4
                    ]
                },
                {
                    "name": "\u8302\u540d",
                    "value": [
                        110.88,
                        21.68,
                        2
                    ]
                },
                {
                    "name": "\u5609\u5174",
                    "value": [
                        120.76,
                        30.77,
                        0
                    ]
                },
                {
                    "name": "\u957f\u6625",
                    "value": [
                        125.35,
                        43.88,
                        3
                    ]
                },
                {
                    "name": "\u80f6\u5dde",
                    "value": [
                        120.03336,
                        36.264622,
                        0
                    ]
                },
                {
                    "name": "\u94f6\u5ddd",
                    "value": [
                        106.27,
                        38.47,
                        1
                    ]
                },
                {
                    "name": "\u5f20\u5bb6\u6e2f",
                    "value": [
                        120.555821,
                        31.875428,
                        0
                    ]
                },
                {
                    "name": "\u4e09\u95e8\u5ce1",
                    "value": [
                        111.19,
                        34.76,
                        0
                    ]
                },
                {
                    "name": "\u9526\u5dde",
                    "value": [
                        121.15,
                        41.13,
                        0
                    ]
                },
                {
                    "name": "\u5357\u660c",
                    "value": [
                        115.89,
                        28.68,
                        1
                    ]
                },
                {
                    "name": "\u67f3\u5dde",
                    "value": [
                        109.4,
                        24.33,
                        1
                    ]
                },
                {
                    "name": "\u4e09\u4e9a",
                    "value": [
                        109.511909,
                        18.252847,
                        2
                    ]
                },
                {
                    "name": "\u81ea\u8d21",
                    "value": [
                        104.778442,
                        29.33903,
                        1
                    ]
                },
                {
                    "name": "\u5409\u6797",
                    "value": [
                        125.32599,
                        43.896536,
                        1
                    ]
                },
                {
                    "name": "\u9633\u6c5f",
                    "value": [
                        111.95,
                        21.85,
                        0
                    ]
                },
                {
                    "name": "\u6cf8\u5dde",
                    "value": [
                        105.39,
                        28.91,
                        1
                    ]
                },
                {
                    "name": "\u897f\u5b81",
                    "value": [
                        101.74,
                        36.56,
                        0
                    ]
                },
                {
                    "name": "\u5b9c\u5bbe",
                    "value": [
                        104.56,
                        29.77,
                        2
                    ]
                },
                {
                    "name": "\u547c\u548c\u6d69\u7279",
                    "value": [
                        111.65,
                        40.82,
                        0
                    ]
                },
                {
                    "name": "\u6210\u90fd",
                    "value": [
                        104.06,
                        30.67,
                        4
                    ]
                },
                {
                    "name": "\u5927\u540c",
                    "value": [
                        113.3,
                        40.12,
                        0
                    ]
                },
                {
                    "name": "\u9547\u6c5f",
                    "value": [
                        119.44,
                        32.2,
                        0
                    ]
                },
                {
                    "name": "\u6842\u6797",
                    "value": [
                        110.28,
                        25.29,
                        0
                    ]
                },
                {
                    "name": "\u5f20\u5bb6\u754c",
                    "value": [
                        110.479191,
                        29.117096,
                        5
                    ]
                },
                {
                    "name": "\u5b9c\u5174",
                    "value": [
                        119.82,
                        31.36,
                        0
                    ]
                },
                {
                    "name": "\u5317\u6d77",
                    "value": [
                        109.12,
                        21.49,
                        0
                    ]
                },
                {
                    "name": "\u897f\u5b89",
                    "value": [
                        108.95,
                        34.27,
                        3
                    ]
                },
                {
                    "name": "\u91d1\u575b",
                    "value": [
                        119.56,
                        31.74,
                        0
                    ]
                },
                {
                    "name": "\u4e1c\u8425",
                    "value": [
                        118.49,
                        37.46,
                        0
                    ]
                },
                {
                    "name": "\u7261\u4e39\u6c5f",
                    "value": [
                        129.58,
                        44.6,
                        0
                    ]
                },
                {
                    "name": "\u9075\u4e49",
                    "value": [
                        106.9,
                        27.7,
                        0
                    ]
                },
                {
                    "name": "\u7ecd\u5174",
                    "value": [
                        120.58,
                        30.01,
                        0
                    ]
                },
                {
                    "name": "\u626c\u5dde",
                    "value": [
                        119.42,
                        32.39,
                        1
                    ]
                },
                {
                    "name": "\u5e38\u5dde",
                    "value": [
                        119.95,
                        31.79,
                        1
                    ]
                },
                {
                    "name": "\u6f4d\u574a",
                    "value": [
                        119.1,
                        36.62,
                        0
                    ]
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": [
                        106.551556,
                        29.563009,
                        6
                    ]
                },
                {
                    "name": "\u53f0\u5dde",
                    "value": [
                        121.420757,
                        28.656386,
                        1
                    ]
                },
                {
                    "name": "\u5357\u4eac",
                    "value": [
                        118.78,
                        32.04,
                        3
                    ]
                },
                {
                    "name": "\u6ee8\u5dde",
                    "value": [
                        118.03,
                        37.36,
                        1
                    ]
                },
                {
                    "name": "\u8d35\u9633",
                    "value": [
                        106.71,
                        26.57,
                        1
                    ]
                },
                {
                    "name": "\u65e0\u9521",
                    "value": [
                        120.29,
                        31.59,
                        1
                    ]
                },
                {
                    "name": "\u672c\u6eaa",
                    "value": [
                        123.73,
                        41.3,
                        0
                    ]
                },
                {
                    "name": "\u514b\u62c9\u739b\u4f9d",
                    "value": [
                        84.77,
                        45.59,
                        0
                    ]
                },
                {
                    "name": "\u6e2d\u5357",
                    "value": [
                        109.5,
                        34.52,
                        1
                    ]
                },
                {
                    "name": "\u9a6c\u978d\u5c71",
                    "value": [
                        118.48,
                        31.56,
                        1
                    ]
                },
                {
                    "name": "\u5b9d\u9e21",
                    "value": [
                        107.15,
                        34.38,
                        2
                    ]
                },
                {
                    "name": "\u7126\u4f5c",
                    "value": [
                        113.21,
                        35.24,
                        0
                    ]
                },
                {
                    "name": "\u53e5\u5bb9",
                    "value": [
                        119.16,
                        31.95,
                        0
                    ]
                },
                {
                    "name": "\u5317\u4eac",
                    "value": [
                        116.407526,
                        39.90403,
                        4
                    ]
                },
                {
                    "name": "\u5f90\u5dde",
                    "value": [
                        117.2,
                        34.26,
                        1
                    ]
                },
                {
                    "name": "\u8861\u6c34",
                    "value": [
                        115.72,
                        37.72,
                        1
                    ]
                },
                {
                    "name": "\u5305\u5934",
                    "value": [
                        110,
                        40.58,
                        1
                    ]
                },
                {
                    "name": "\u7ef5\u9633",
                    "value": [
                        104.73,
                        31.48,
                        0
                    ]
                },
                {
                    "name": "\u4e4c\u9c81\u6728\u9f50",
                    "value": [
                        87.68,
                        43.77,
                        0
                    ]
                },
                {
                    "name": "\u67a3\u5e84",
                    "value": [
                        117.57,
                        34.86,
                        0
                    ]
                },
                {
                    "name": "\u676d\u5dde",
                    "value": [
                        120.19,
                        30.26,
                        12
                    ]
                },
                {
                    "name": "\u6dc4\u535a",
                    "value": [
                        118.05,
                        36.78,
                        0
                    ]
                },
                {
                    "name": "\u978d\u5c71",
                    "value": [
                        122.85,
                        41.12,
                        0
                    ]
                },
                {
                    "name": "\u6ea7\u9633",
                    "value": [
                        119.48,
                        31.43,
                        0
                    ]
                },
                {
                    "name": "\u5e93\u5c14\u52d2",
                    "value": [
                        86.06,
                        41.68,
                        0
                    ]
                },
                {
                    "name": "\u5b89\u9633",
                    "value": [
                        114.35,
                        36.1,
                        1
                    ]
                },
                {
                    "name": "\u5f00\u5c01",
                    "value": [
                        114.35,
                        34.79,
                        1
                    ]
                },
                {
                    "name": "\u6d4e\u5357",
                    "value": [
                        117,
                        36.65,
                        1
                    ]
                },
                {
                    "name": "\u5fb7\u9633",
                    "value": [
                        104.37,
                        31.13,
                        1
                    ]
                },
                {
                    "name": "\u6e29\u5dde",
                    "value": [
                        120.65,
                        28.01,
                        2
                    ]
                },
                {
                    "name": "\u4e5d\u6c5f",
                    "value": [
                        115.97,
                        29.71,
                        1
                    ]
                },
                {
                    "name": "\u90af\u90f8",
                    "value": [
                        114.47,
                        36.6,
                        1
                    ]
                },
                {
                    "name": "\u4e34\u5b89",
                    "value": [
                        119.72,
                        30.23,
                        0
                    ]
                },
                {
                    "name": "\u5170\u5dde",
                    "value": [
                        103.73,
                        36.03,
                        1
                    ]
                },
                {
                    "name": "\u6ca7\u5dde",
                    "value": [
                        116.83,
                        38.33,
                        1
                    ]
                },
                {
                    "name": "\u4e34\u6c82",
                    "value": [
                        118.35,
                        35.05,
                        0
                    ]
                },
                {
                    "name": "\u5357\u5145",
                    "value": [
                        106.110698,
                        30.837793,
                        2
                    ]
                },
                {
                    "name": "\u5929\u6d25",
                    "value": [
                        117.200983,
                        39.084158,
                        2
                    ]
                },
                {
                    "name": "\u5bcc\u9633",
                    "value": [
                        119.95,
                        30.07,
                        0
                    ]
                },
                {
                    "name": "\u6cf0\u5b89",
                    "value": [
                        117.13,
                        36.18,
                        0
                    ]
                },
                {
                    "name": "\u8bf8\u66a8",
                    "value": [
                        120.23,
                        29.71,
                        0
                    ]
                },
                {
                    "name": "\u90d1\u5dde",
                    "value": [
                        113.65,
                        34.76,
                        0
                    ]
                },
                {
                    "name": "\u54c8\u5c14\u6ee8",
                    "value": [
                        126.63,
                        45.75,
                        1
                    ]
                },
                {
                    "name": "\u804a\u57ce",
                    "value": [
                        115.97,
                        36.45,
                        0
                    ]
                },
                {
                    "name": "\u829c\u6e56",
                    "value": [
                        118.38,
                        31.33,
                        1
                    ]
                },
                {
                    "name": "\u5510\u5c71",
                    "value": [
                        118.02,
                        39.63,
                        1
                    ]
                },
                {
                    "name": "\u5e73\u9876\u5c71",
                    "value": [
                        113.29,
                        33.75,
                        0
                    ]
                },
                {
                    "name": "\u90a2\u53f0",
                    "value": [
                        114.48,
                        37.05,
                        0
                    ]
                },
                {
                    "name": "\u5fb7\u5dde",
                    "value": [
                        116.29,
                        37.45,
                        1
                    ]
                },
                {
                    "name": "\u6d4e\u5b81",
                    "value": [
                        116.59,
                        35.38,
                        0
                    ]
                },
                {
                    "name": "\u8346\u5dde",
                    "value": [
                        112.239741,
                        30.335165,
                        0
                    ]
                },
                {
                    "name": "\u5b9c\u660c",
                    "value": [
                        111.3,
                        30.7,
                        0
                    ]
                },
                {
                    "name": "\u4e49\u4e4c",
                    "value": [
                        120.06,
                        29.32,
                        1
                    ]
                },
                {
                    "name": "\u4e3d\u6c34",
                    "value": [
                        119.92,
                        28.45,
                        0
                    ]
                },
                {
                    "name": "\u6d1b\u9633",
                    "value": [
                        112.44,
                        34.7,
                        1
                    ]
                },
                {
                    "name": "\u79e6\u7687\u5c9b",
                    "value": [
                        119.57,
                        39.95,
                        2
                    ]
                },
                {
                    "name": "\u682a\u6d32",
                    "value": [
                        113.16,
                        27.83,
                        5
                    ]
                },
                {
                    "name": "\u77f3\u5bb6\u5e84",
                    "value": [
                        114.48,
                        38.03,
                        1
                    ]
                },
                {
                    "name": "\u83b1\u829c",
                    "value": [
                        117.67,
                        36.19,
                        0
                    ]
                },
                {
                    "name": "\u5e38\u5fb7",
                    "value": [
                        111.69,
                        29.05,
                        9
                    ]
                },
                {
                    "name": "\u4fdd\u5b9a",
                    "value": [
                        115.48,
                        38.85,
                        2
                    ]
                },
                {
                    "name": "\u6e58\u6f6d",
                    "value": [
                        112.91,
                        27.87,
                        6
                    ]
                },
                {
                    "name": "\u91d1\u534e",
                    "value": [
                        119.64,
                        29.12,
                        0
                    ]
                },
                {
                    "name": "\u5cb3\u9633",
                    "value": [
                        113.09,
                        29.37,
                        11
                    ]
                },
                {
                    "name": "\u957f\u6c99",
                    "value": [
                        113,
                        28.21,
                        26
                    ]
                },
                {
                    "name": "\u8862\u5dde",
                    "value": [
                        118.88,
                        28.97,
                        0
                    ]
                },
                {
                    "name": "\u5eca\u574a",
                    "value": [
                        116.7,
                        39.53,
                        0
                    ]
                },
                {
                    "name": "\u83cf\u6cfd",
                    "value": [
                        115.480656,
                        35.23375,
                        0
                    ]
                },
                {
                    "name": "\u5408\u80a5",
                    "value": [
                        117.27,
                        31.86,
                        2
                    ]
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": [
                        114.31,
                        30.52,
                        2
                    ]
                },
                {
                    "name": "\u5927\u5e86",
                    "value": [
                        125.03,
                        46.58,
                        0
                    ]
                }
            ],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "formatter": function (params) {        return params.name + ' : ' + params.value[2];    },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6bd5\u4e1a\u751f\u53bb\u5411\u57ce\u5e02\u5206\u5e03\u60c5\u51b5",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 200,
        "text": [
            "\u5bc6\u5ea6\u6307\u6570",
            ""
        ],
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 4,
        "orient": "vertical",
        "left": "20%",
        "top": "70%",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "min": 0,
                "max": 1,
                "color": "#32e0c4",
                "label": "\u5c11"
            },
            {
                "min": 2,
                "max": 5,
                "color": "#b8de6f",
                "label": "\u4e2d"
            },
            {
                "min": 6,
                "max": 9,
                "color": "#fd8c04",
                "label": "\u591a"
            },
            {
                "min": 10,
                "max": 50,
                "color": "#ec5858",
                "label": "\u8d85\u591a"
            }
        ]
    },
    "geo": {
        "map": "china",
        "roam": true,
        "aspectScale": 0.75,
        "nameProperty": "name",
        "selectedMode": false,
        "itemStyle": {
            "color": "#28527a",
            "borderColor": "#9ba4b4"
        },
        "emphasis": {}
    }
};
        chart_9c35f7de46d14253823166b190c2e109.setOption(option_9c35f7de46d14253823166b190c2e109);
    </script>
</body>
</html>
