<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="a82e4ad0581445b985519f38e499e866" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a82e4ad0581445b985519f38e499e866 = echarts.init(
            document.getElementById('a82e4ad0581445b985519f38e499e866'), 'macarons', {renderer: 'canvas'});
        var option_a82e4ad0581445b985519f38e499e866 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u529e\u4e8b\u4eba\u5458\u548c\u6709\u5173\u4eba\u5458",
                    "value": 8
                },
                {
                    "name": "\u5de5\u7a0b\u6280\u672f\u4eba\u5458",
                    "value": 144
                },
                {
                    "name": "\u516c\u52a1\u5458",
                    "value": 0
                },
                {
                    "name": "\u6559\u5b66\u4eba\u5458",
                    "value": 8
                },
                {
                    "name": "\u91d1\u878d\u4e1a\u52a1\u4eba\u5458",
                    "value": 4
                },
                {
                    "name": "\u7ecf\u6d4e\u4e1a\u52a1\u4eba\u5458",
                    "value": 0
                },
                {
                    "name": "\u519b\u4eba",
                    "value": 3
                },
                {
                    "name": "\u79d1\u5b66\u7814\u7a76\u4eba\u5458",
                    "value": 1
                },
                {
                    "name": "\u5176\u4ed6\u4eba\u5458",
                    "value": 34
                },
                {
                    "name": "\u5176\u4ed6\u4e13\u4e1a\u6280\u672f\u4eba\u5458",
                    "value": 54
                },
                {
                    "name": "\u5546\u52a1\u548c\u670d\u52a1\u4e1a\u4eba\u5458",
                    "value": 6
                },
                {
                    "name": "\u536b\u751f\u4e13\u4e1a\u6280\u672f\u4eba\u5458",
                    "value": 1
                },
                {
                    "name": "\u6587\u5b66\u827a\u672f\u5de5\u4f5c\u4eba\u5458",
                    "value": 1
                },
                {
                    "name": "\u65b0\u95fb\u51fa\u7248\u548c\u6587\u5316\u5de5\u4f5c\u4eba\u5458",
                    "value": 1
                }
            ],
            "radius": [
                "40%",
                "55%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "outside",
                "margin": 8,
                "formatter": "{a|{a}}{abg|}\n{hr|}\n {b|{b}: }{c}  {per|{d}%}  ",
                "backgroundColor": "#eee",
                "borderColor": "#aaa",
                "borderWidth": 1,
                "borderRadius": 4,
                "rich": {
                    "a": {
                        "color": "#999",
                        "lineHeight": 22,
                        "align": "center"
                    },
                    "abg": {
                        "backgroundColor": "#e3e3e3",
                        "width": "100%",
                        "align": "right",
                        "height": 22,
                        "borderRadius": [
                            4,
                            4,
                            0,
                            0
                        ]
                    },
                    "hr": {
                        "borderColor": "#aaa",
                        "width": "100%",
                        "borderWidth": 0.5,
                        "height": 0
                    },
                    "b": {
                        "fontSize": 16,
                        "lineHeight": 33
                    },
                    "per": {
                        "color": "#eee",
                        "padding": [
                            2,
                            4
                        ],
                        "borderRadius": 2
                    }
                }
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u529e\u4e8b\u4eba\u5458\u548c\u6709\u5173\u4eba\u5458",
                "\u5de5\u7a0b\u6280\u672f\u4eba\u5458",
                "\u516c\u52a1\u5458",
                "\u6559\u5b66\u4eba\u5458",
                "\u91d1\u878d\u4e1a\u52a1\u4eba\u5458",
                "\u7ecf\u6d4e\u4e1a\u52a1\u4eba\u5458",
                "\u519b\u4eba",
                "\u79d1\u5b66\u7814\u7a76\u4eba\u5458",
                "\u5176\u4ed6\u4eba\u5458",
                "\u5176\u4ed6\u4e13\u4e1a\u6280\u672f\u4eba\u5458",
                "\u5546\u52a1\u548c\u670d\u52a1\u4e1a\u4eba\u5458",
                "\u536b\u751f\u4e13\u4e1a\u6280\u672f\u4eba\u5458",
                "\u6587\u5b66\u827a\u672f\u5de5\u4f5c\u4eba\u5458",
                "\u65b0\u95fb\u51fa\u7248\u548c\u6587\u5316\u5de5\u4f5c\u4eba\u5458"
            ],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    }
};
        chart_a82e4ad0581445b985519f38e499e866.setOption(option_a82e4ad0581445b985519f38e499e866);
    </script>
</body>
</html>
