{% extends 'vssapp/basic.html' %}
{% load static %}
{% block title %}添加成功{% endblock %}

{% block css %}
    <style>
        img {
            width: 100%;
        }
    </style>
    <style type="text/css">
    .jumbotron{text-align:center;width:100%;}
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h2>数据添加成功</h2>
    <br>
  <p>可点击下方按钮跳转至毕业生就业信息列表进行查看</p>
    <br>
  <p><a class="btn btn-primary btn-lg" href="/list" role="button">跳转至列表查看</a></p>
</div>

{% endblock %}
