{% extends 'vssapp/basic.html' %}
{% load static %}
{% block title %}删除成功{% endblock %}

{% block css %}
    <style>
        img {
            width: 100%;
        }
    </style>
    <style type="text/css">
    .jumbotron{text-align:center;width:100%;}
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h2>数据删除成功</h2>
    <br>
  <p>可点击下方按钮跳转至查询功能处输入学号进行查看</p>
    <br>
  <p><a class="btn btn-primary btn-lg" href="/find" role="button">跳转至查询功能处查看</a></p>
</div>

{% endblock %}
